SQLALCHEMY_DATABASE_URI=postgresql://username:password@host:port/name_of_db
SQLALCHEMY_POOL_SIZE=5
SQLALCHEMY_MAX_OVERFLOW=10
SQLALCHEMY_POOL_TIMEOUT=30
FLASK_CONFIG=development
FLASK_APP=main.py
DB_TYPE=postgresql
