<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="886619612646-k71mgp1dgo6pb3ph0s5i31gv7oj03ee7.apps.googleusercontent.com">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = "bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = "css/offcanvas.css") }}" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body class="bg-light">
{% block body %}


{% endblock %}

</body>
</html>
