<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="886619612646-gu5r792jjjegqifl157hvt41348r45sd.apps.googleusercontent.com">
    <title>{{ context["title"] }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon.ico/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon.ico/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon.ico/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon.ico/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon.ico/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon.ico/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon.ico/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon.ico/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon.ico/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.ico/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon.ico/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.ico/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon.ico/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = "bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = "css/offcanvas.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = "css/main.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = "css/collection_details.css") }}" rel="stylesheet">
    <!-- <link href="../static/css/main.css" rel="stylesheet"> -->
    <script src="{{ url_for('static', filename = "js/jquery-3.3.1.min.js") }}" ></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>
<body class="bg-light">
{% block nav %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">API Monitor</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('app_view.dashboard') }}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('app_view.collections') }}">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('app_view.team') }}">Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown01">Settings</a>
          </li>
        </ul>
          {% if session.name %}
          <a href="" class="my-2 my-lg-0">{{ session.name }}</a>&nbsp;&nbsp;&nbsp;
          <a class="my-2 my-lg-0" href="#" onclick="signOut();">Sign out</a>
          {% endif %}
      </div>
    </nav>
{% endblock %}
{% block body %}

{% endblock %}
<script src="{{ url_for('static', filename = "js/popper.js") }}" ></script>
<script src="{{ url_for('static', filename = "bootstrap/js/bootstrap.js") }}" ></script>
</body>
</html>
