{% extends "base.html" %}
{% from 'banner.html' import banner %}

<body>
    {% block body %}

    <main role="main" class="container">
        {{ banner() }}
        <span id="dataContainer" data-context="{{ context|tojson }}"></span>
        <div class="collection">
            <div class="checkList">
                <h4 class="checkList__Heading">Show</h4>
                <nav class="nav flex-column navLinks" role="tablist">
                    <a class="nav-link active" data-toggle="tab" href="#results" role="tab"><i class="fa fa-list"></i><span>Summary</span></a>
                    <a class="nav-link" data-toggle="tab" href="#editor" role="tab"><i class="fa fa-pencil-alt"></i><span>Editor</span></a>
                    <a class="nav-link" data-toggle="tab" href="#schedule" role="tab"><i class="fa fa-clock"></i><span>Schedule</span></a>
                
                <hr>
                <h4 class="checkList__Heading">Results</h4>
                </nav>
            </div>
            <div class="tab-content resultsContainer">
                <div class="collectionHeader">
                    <span class="collectionName">{{context.collection_name}}</span>
                    <span>
                        <i class="fas fa-spinner fa-pulse"></i> &nbsp;
                        <span id="runCollectionChecks">
                            Run Checks &nbsp;<i class="fa fa-play"></i>
                        </span>
                    </span>
                </div>
                <h3 class="collectionName">{{ context["collection"]["name"] }} </h3>
                <div id="results" class="tab-pane active"></div>

                <div id="editor" class="tab-pane">
                    <div id="checks">
                        <div class="header">
                            <div class="checksTitle">
                            <span class="title">CHECKS</span>
                            </div>
                            <div class="menu">
                                <span id="generalErrorMsg">Resolve form errors and re-submit</span>&nbsp;
                                <span id="saveCollectionChecks">
                                    Save Checks <i class="fa fa-save"></i>
                                </span>
                            </div>
                        </div>
                        <div id="checksFormContainer"></div>
                        <span class="add-button" id="addCheck">+ Add check</span>
                    </div>
                </div>

                <div id="schedule" class="tab-pane">
                    <div class="schedule-box">
                        <div class="schedule-title">
                            Set the period between the pings to the requests in the collection
                        </div>
                        <form class="update-timeout-form" method="PUT" action="" id="{{ context['collection']['id'] }}">
                            <input type="hidden" name="time" id="update-timeout-timeout" />
                            <div class="update-timeout-info text-center">
                                <span
                                    class="update-timeout-label"
                                    data-toggle="tooltip"
                                    title="Expected period between pings.">
                                    Period:
                                </span>
                                <span
                                    id="period-slider-value"
                                    class="update-timeout-value">
                                    1 day
                                </span>
                            </div>
                            <div id="period-slider"></div>
                            <button type="submit" class="btn btn-secondary btn-lg">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        var context = {{ context|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collection_details.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scheduler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
    {% endblock %}
</body>