{% extends "base.html" %} {% from 'banner.html' import banner %}

<body>
    {% block body %}

    <main role="main" class="container">
        {{ banner() }}
        <span id="dataContainer" data-context="{{ context|tojson }}"></span>
        <div class="collection">
            <div class="checkList">
                <h4 class="checkList__Heading">Show</h4>
                <nav class="nav flex-column navLinks" role="tablist">
                    <a class="nav-link active" data-toggle="tab" href="#results" role="tab"><i class="fa fa-list"></i><span>Summary</span></a>
                    <a class="nav-link" data-toggle="tab" href="#editor" role="tab"><i class="fa fa-pencil-alt"></i><span>Editor</span></a>
                
                <hr>
                <h4 class="checkList__Heading">Results</h4>
                </nav>
            </div>
            <div class="tab-content resultsContainer">
                <div class="collectionHeader">
                    <span class="collectionName">{{context.collection_name}}</span>
                    <span>
                        <i class="fas fa-spinner fa-pulse"></i> &nbsp;
                        <span id="runCollectionChecks">
                            Run Checks &nbsp;<i class="fa fa-play"></i>
                        </span>
                    </span>
                </div>
                <div id="results" class="tab-pane active"></div>
                <div id="editor" class="tab-pane">
                    <div id="checks">
                        <div class="header">
                            <div class="checksTitle">
                            <span class="title">CHECKS</span>
                            </div>
                            <div class="menu">
                                <span id="generalErrorMsg">Resolve form errors and try to save again</span>&nbsp;
                                <span id="saveCollectionChecks">
                                    Save Checks <i class="fa fa-save"></i>
                                </span>
                            </div>
                        </div>
                        <div id="checksFormContainer"></div>
                        <span class="add-button" id="addCheck">+ Add check</span>
                    </div>
                          
                </div>
            </div>
        </div>
    </main>
    <script>
        var context = {{ context|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collection_details.js') }}"></script> 
    
    {% endblock %}
</body>