{% extends "base.html" %}
{% from 'banner.html' import banner %}

<body>
  {% block body %}

  <main role="main" class="container">
    {{ banner() }}
    <div id="checks" class="container-box">
      <div class="header">
        <div class="checksTitle">
          <span class="title">CHECKS</span>
        </div>
        <div class="menu">
          <span id="submitForms">
            Save <img width="20px" height="20px" src="../static/images/ic_save_black.png" alt="Save changes"/>
          </span>
          <span id="runChecks">
            Run <img width="20px" height="20px" src="../static/images/ic_send_black.png" alt="Run checks"/>
          </span>
        </div>
      </div>
      <div id="checksFormContainer"></div>
      </form>
      <span class="add-button" id="addCheck">+ Add check</span>
    </div>

  </main>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script> {% endblock %}

</body>