.schedule-box {
    text-align: center;
}

.schedule-title {
    margin-bottom: 20px;
    color: #83878c;
    font-size: 2rem;
}

button {
    font-size: 2rem !important;
}

.update-timeout-info {
    line-height: 22px;
}

.update-timeout-label {
    position: relative;
    right: 3px;
    display: inline-block;
    text-align: right;
    width: 100px;
}

.update-timeout-value {
    font-size: 22px;
    display: inline-block;
    width: 100px;
    text-align: left;
    white-space: nowrap;

}

#period-slider {
    margin: 20px 50px 80px 50px;
}

#period-slider.noUi-connect {
  background: #22bc66;
}

#period-slider .noUi-value {
    width: 60px;
    margin-left: -30px;
}

.label-tag {
    background-color: #eee;
    color: #555;
    font-style: normal;
}


#show-usage-modal  .modal-dialog {
     width: 1600px;
 }

 #show-usage-modal .tab-content {
     margin-top: 15px;
 }
